/** CSS STYLE **/
/*-----------------RESET CSS----------------------*/
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}

/*---------------END RESET------------------*/

/*---------------GENERAL STYLE------------------*/
:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --semi-transparent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@font-face {
  font-weight: 400;
  font-family: Neucha;
  src: url("../fonts/Neucha/Neucha-Regular.ttf");
}
@font-face {
  font-weight: 400;
  font-family: OpenSans;
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf");
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2em;
  font-family: Neucha, sans-serif;
  color: var(--primary);
  font-weight: 400;
}
h1 {
  font-size: 72px;
}
h2 {
  font-size: 60px;
}
h3 {
  font-size: 34px;
}

p {
  font-family: OpenSans, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6em;
  color: var(--dark);
}

.bg-image::before {
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  content: "";
  background-image: url("../images/background.png");
  width: 100%;
  height: 100%;
  opacity: 0.1;
}

.bg-color {
  background-color: var(--light);
  width: 100%;
  height: 100%;
}
.container {
  width: 1110px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0 auto;
}

/*---------------END GENERAL STYLE------------------*/

/*---------------------------HEADER--------------------------*/

.header-content {
  position: relative;
}
.header-title {
  margin-bottom: 185px;
}

.header-image {
  position: absolute;
  content: "";
  height: 525px;
  top: 55px;
  right: -270px;
}
.d-flex {
  display: flex;
  justify-content: space-between;
}

.w-540 {
  width: 540px;
}

.header-text p:last-child {
  margin-bottom: 0;
}
.header-title span {
  color: var(--dark);
}
.btn a {
  text-decoration: none;
  padding: 12px 24px;
  background-color: var(--primary);
  color: var(--white);
  font-weight: 700;
  font-family: OpenSans;
}
.btn {
  display: flex;
  margin-left: 570px;
  margin-top: 40px;
}
.btn a:hover {
  background-color: #ea7600;
}
/*------------------- END HEADER ----------------------------------------*/

/*------------------- VIDEO SECTION -------------------------------------*/

.video-content {
  text-align: center;
  padding: 0;
  position: relative;
  top: 100px;
}
.video-title {
  margin-bottom: 30px;
}
.video-title span {
  color: var(--dark);
}
.video-subtitle {
  color: var(--dark);
  margin-bottom: 30px;
}

.video-item {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
  vertical-align: middle;
}

/*------------------- END VIDEO SECTION -------------------------------------*/

/*------------------- NAVIGATION SECTION -------------------------------------*/

.navigation {
  background-color: var(--primary-dark);
  padding-top: 100px;
  width: 100%;
}
.navigation-content {
  padding-bottom: 80px;
}
.row {
  display: flex;

  flex-wrap: wrap;
}
.w-350 {
  width: 350px;
  margin-right: 30px;
  margin-bottom: 20px;
}
.w-350:nth-child(3n) {
  margin-right: 0;
}

.card {
  background-color: var(--light);
}
.card:hover {
  background-color: var(--primary);
}
.card:hover .link p {
  color: #fff;
}
.card:hover .link h2 {
  color: #fff;
}
.card:hover .link h3 {
  color: #fff;
}

.card a {
  text-decoration: none;
  display: block;
  height: 100%;
  padding: 24px;
}
.navigation-title {
  font-size: 52px;
}
.navigation-title span {
  color: var(--white);
}
.card h2 {
  font-size: 64px;
  line-height: 1;
  padding-bottom: 40px;

  color: var(--primary-dark);
}

.card h3 {
  margin-bottom: 16px;
}
.card p {
  margin: 0;
}

/*------------------- END NAVIGATION SECTION -------------------------------------*/

/*------------------- IKEA-EFFECT SECTION -------------------------------------*/

.column-2 {
  display: flex;
}
.ikea-title {
  margin-left: 30px;
}
.ikea-text {
  column-count: 2;
  column-gap: 30px;
}
.ikea-title h2 {
  color: var(--dark);
}
.ikea-title p {
  font-size: 34px;
  line-height: 1.2em;
  color: var(--dark);
  font-family: Neucha;
}
.ikea-title p:first-child {
  font-size: 24px;
  line-height: 1.2em;
  color: var(--semi-transparent-dark);

  margin: 0;
}

.ikea-image {
  vertical-align: middle;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}
.ikea-subtitle {
  margin-top: 100px;
  margin-bottom: 20px;
  background-color: var(--brown);

  padding: 5px 10px;
}
.ikea-subtitle h3 {
  font-family: OpenSans;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--white);
}
.ikea-text p {
  color: var(--dark);
  margin: 0;
  break-inside: avoid;
}
/*-------------------END IKEA-EFFECT SECTION -------------------------------------*/

/*-----------------PREMATURE-OPTIMIZATION SECTION-----------------------*/

.premature-content p {
  color: var(--white);
}

.premature-optimization {
  background-color: var(--brown);
  position: relative;
}

.column-2 {
  display: flex;
}
.premature-title {
  margin-right: 30px;
}
.premature-text {
  column-count: 2;
  column-gap: 30px;
}
.premature-title h2 {
  color: var(--white);
}
.premature-title p {
  font-size: 34px;
  line-height: 1.2em;
  color: var(--white);
  font-family: Neucha;
}
.premature-title p:first-child {
  font-size: 24px;
  line-height: 1.2em;
  color: var(--translucent-white);

  margin: 0;
}

.premature-image {
  vertical-align: middle;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}
.premature-subtitle {
  margin-top: 100px;
  margin-bottom: 20px;
  background-color: var(--white);

  padding: 5px 10px;
}
.premature-subtitle h3 {
  font-family: OpenSans;
  font-weight: 700;
  font-size: 14px;

  text-transform: uppercase;
  color: var(--brown);
}
.premature-text p {
  color: var(--white);
  margin: 0;
  break-inside: avoid;
}

/*----------------END PREMATURE-OPTIMIZATION SECTION-----------------------*/

/*----------------DISTORTION-OF-NOVELTY SECTION-----------------------------*/

.distortion-of-novelty {
  position: relative;
}
.column-2 {
  display: flex;
}
.distortion-title {
  margin-left: 30px;
}
.distortion-text {
  column-count: 2;
  column-gap: 30px;
}
.distortion-title h2 {
  color: var(--dark);
}
.distortion-title p {
  font-size: 34px;
  line-height: 1.2em;
  color: #2a2626;
  font-family: Neucha;
}
.distortion-title p:first-child {
  font-size: 24px;
  line-height: 1.2em;
  color: var(--semi-transparent-dark);

  margin: 0;
}

.distortion-image {
  vertical-align: middle;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}
.distortion-subtitle {
  margin-top: 100px;
  margin-bottom: 20px;
  background-color: var(--brown);
  padding: 5px 10px;
}
.distortion-subtitle h3 {
  font-family: OpenSans;
  font-weight: 700;
  font-size: 14px;

  color: var(--white);
  text-transform: uppercase;
}
.distortion-text p {
  color: var(--dark);
  margin: 0;
  break-inside: avoid;
}
/*----------------END DISTORTION-OF-NOVELTY SECTION-----------------------------*/

/*----------------HYPERBOLIC-DEPRECIATION SECTION------------------------------*/

.hyperbolic-depreciation {
  background-color: var(--brown);
  position: relative;
}

.column-2 {
  display: flex;
}
.hyperbolic-title {
  margin-right: 30px;
}
.hyperbolic-text {
  column-count: 2;
  column-gap: 30px;
}
.hyperbolic-title h2 {
  color: var(--white);
}
.hyperbolic-title p {
  font-size: 34px;
  line-height: 1.2em;
  color: var(--white);
  font-family: Neucha;
}
.hyperbolic-title p:first-child {
  font-size: 24px;
  line-height: 1.2em;
  color: #d7ccc0;

  margin: 0;
}

.hyperbolic-image {
  vertical-align: middle;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}
.hyperbolic-subtitle {
  margin-top: 100px;
  margin-bottom: 20px;
  background-color: var(--white);
  padding: 5px 10px;
}
.hyperbolic-subtitle h3 {
  font-family: OpenSans;
  font-weight: 700;
  font-size: 14px;

  text-transform: uppercase;
  color: var(--brown);
}

.hyperbolic-text p {
  color: var(--white);
  margin: 0;
  break-inside: avoid;
}

/*---------------END HYPERBOLIC-DEPRECIATION SECTION-----------------------------*/

/*----------------ERRORS-IN-PLANNING SECTION---------------------------------*/

.errors-in-planning {
  position: relative;
}
.column-2 {
  display: flex;
}
.errors-title {
  margin-left: 30px;
}
.errors-text {
  column-count: 2;
  column-gap: 30px;
}
.errors-title h2 {
  color: var(--dark);
}
.errors-title p {
  font-size: 34px;
  line-height: 1.2em;
  color: var(--dark);
  font-family: Neucha;
}
.errors-title p:first-child {
  font-size: 24px;
  line-height: 1.2em;
  color: var(--semi-transparent-dark);

  margin: 0;
}

.errors-image {
  vertical-align: middle;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}
.errors-subtitle {
  margin-top: 100px;
  margin-bottom: 20px;
  background-color: var(--brown);
  padding: 5px 10px;
}
.errors-subtitle h3 {
  font-family: OpenSans;
  font-weight: 700;
  font-size: 14px;

  color: var(--white);
  text-transform: uppercase;
}

.errors-text p {
  color: var(--dark);
  margin: 0;
  padding-bottom: 16px;
  break-inside: avoid;
}
/*--------------END ERRORS-IN-PLANNING SECTION-----------------------------*/

/* ----------------------------FOOTER SECTION---------------------------- */

.flex {
  display: flex;
  background-color: var(--primary-dark);
  justify-content: space-between;
  padding: 55px;
  align-items: center;
}
input {
  height: 50px;
  width: 423px;
  padding: 15px;
  border: none;
}
.button {
  height: 50px;
  width: 70px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: var(--primary);
  position: relative;
}
.button:hover {
  background-color: #ea7600;
}
.button::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background-image: url("../images/send.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  left: 0;
}

.form p {
  color: var(--white);
  font-size: 18px;
  margin-bottom: 9px;
  margin-top: 0;
}
.form p:last-child {
  font-size: 12px;
  margin-bottom: 0;
}
.form a {
  color: var(--white);
}
.text-box {
  display: flex;
  margin: 0;
  padding: 0;
}
.flex h3 {
  color: var(--white);
}
.contact-info {
  text-align: center;
  margin-top: 60px;
}
.contact-info p,
a {
  font-size: 14px;
  font-family: OpenSans, sans-serif;
}
/* ---------------------------END FOOTER SECTION---------------------------- */
